.detailHeader {
    position: relative;
}

.detailChannel  {
    position: relative;
    margin-left: 15px;
    top: 12px;
    width: fit-content;
}

.detailTitle {
    position: relative;
    margin-top: 10px;
    margin-left: 8px;
    padding-bottom: 4px;
}

.detailUser {
    position: relative;
    padding-bottom: 4px;
}

.detailDivider {
    position: relative;
}

.buttonTable {
    width: 320px;
    padding-left: 10px;
}

.detailsButton {
    background: transparent;
    width: 100px;
    border:none;
}

.participantsButton {
    background: transparent;
    width:100px;
    border:none
}

.commentsButton {
    background: transparent;
    width: 100px;
    border:none
}