.preview-header1 {
    position: relative;
    top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    width: 320px;
    height: 40px;
}
.userIcon2 {
    height: 20px;
    position: absolute;
    left: 10px;
    top: 17px;
}

.previewUsername {
    position: absolute;
    left: 40px;
    top: 8px;
    font-size: 12px;
    color: black
}

.channelName {
    position: absolute;
    right: 34px;
    top: 17px;
}